.wrapper{width:100vw; height:100vh; position:fixed; top:0; left:0; background: rgba(0,0,0,0.2);line-height: 100vh;
  text-align: center;}
.popup{display:inline-block; width:90%; background:#fff; box-shadow: 0 0 20px 4px #949494;}
.title,.buttons{height:40px; line-height: 40px; text-align: center;}
.content{line-height: 30px; }
