.city-wrapper{}
.gps-location{display: flex;padding:0 10px;}
.gps-name{flex:1;}
.gps-button{flex:0 100px; flex-shrink: 0;}
.gps-location input{line-height:inherit; font-size: 14px; background:#3190e8; border-radius: 4px; color:#fff;padding:0 20px;}
.title{font-size: 12px; color:#666; font-weight: 100; padding:0 10px;}
.city-box{display: inline-block; width:25%; line-height:36px; border-top:1px solid #ececec; border-right: 1px solid #ececec;
  text-align:center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: bottom;}
.hot-cities .city-box{color:#3190e8;}
.city-list{line-height: 36px; border-bottom: 1px solid #ececec;}
