.nav-footer{width:100%; height:60px; background:#fff; border-top: 1px solid #e4e4e4; color:#666;
  position:fixed; left:0; bottom:0; font-size: 0;}
.nav-footer li{float:left; width:25%; height:100%; text-align: center; list-style: none;}
.nav-footer .icon{height:40px; font-size: 24px; line-height: 40px;}
.nav-footer .text{height:20px; font-size: 12px; line-height: 20px;}
.nav-active{color:#3190e8;}
.clearfix:after{display: block; content:''; clear:both;}
