<div class="nav-footer">
  <ul class="clearfix">
    <li [routerLink]="['home']" routerLinkActive="nav-active"><p class="icon iconfont">&#xe676;</p><p class="text">商家</p></li>
    <li routerLinkActive="nav-active"><p class="icon iconfont">&#xe6ac;</p><p class="text">搜索</p></li>
    <li routerLinkActive="nav-active"><p class="icon iconfont">&#xe655;</p><p class="text">订单</p></li>
    <li [routerLink]="['me']" routerLinkActive="nav-active"><p class="icon iconfont">&#xe6b8;</p><p class="text">我的</p></li>
  </ul>
</div>
