<div class="user-wrapper">
  <div class="input-area">
    <div class="line">
      <div class="input-title">头像</div>
      <div class="input-content" (click)="file.click()"><input type="file" style="display: none;" #file/><span class="iconfont">&#xe6a7;</span></div>
    </div>
    <div class="line">
      <div class="input-title">用户名</div>
      <div class="input-content">xxxxxx<span class="iconfont">&#xe6a7;</span></div>
    </div>
  </div>
  <div class="input-area">
    <h3>账号绑定</h3>
    <div class="line">
      <div class="input-title"><span class="iconfont">&#xe6b8;</span>手机</div>
      <div class="input-content">1561984654654<span class="iconfont">&#xe6a7;</span></div>
    </div>
  </div>
  <div class="input-area">
    <h3>安全设置</h3>
    <div class="line">
      <div class="input-title">登录密码</div>
      <div class="input-content">未设置<span class="iconfont">&#xe6a7;</span></div>
    </div>
  </div>
  <div class="logout">
    <input class="logout-button" type="button" value="退出登录" />
  </div>
</div>
