<div class="shop-wrapper">
  <div class="foods-wrapper" *ngIf="sellerDetail">
    <div class="header">
      <div class="header-bg">
        <img width="100%" height="100%" [src]="getImgPath(sellerDetail.image_path)" />
      </div>
      <div class="header-top">
        <span class="iconfont" (click)="goBack()">&#xe697;</span>
      </div>
      <div class="content">
        <div class="img-wrapper">
          <img [src]="getImgPath(sellerDetail.image_path)" />
        </div>
        <div class="text-wrapper">
          <h4 class="title">{{sellerDetail.name}}</h4>
          <p>{{sellerDetail.is_extra?'':'商家配送'}}/{{sellerDetail.order_lead_time}}分钟送达/{{sellerDetail.piecewise_agent_fee.description}}  ></p>
          <p>{{sellerDetail.promotion_info}}</p>
        </div>
      </div>
      <div class="description">
        <p>{{sellerDetail.description}}</p>
      </div>
    </div>
    <div class="shop-nav">
      <div (click)="content='menu'"><span>商品</span></div>
      <div (click)="content='rating';getRating();getTags();"><span>评价</span></div>
    </div>
    <div class="content-wrapper" *ngIf="menu" [style.height]="contentH+'px'" [ngSwitch]="content">
      <div class="menu" *ngSwitchCase="'menu'">
        <div class="directory">
          <ul>
            <li *ngFor="let item of menu; let i=index" [attr.data-target]="'#item'+i" (click)="scrollTo($event)">{{item.name}}</li>
          </ul>
        </div>
        <div class="food-item">
          <ul *ngFor="let item of menu; let i=index">
            <h5 [id]="'#item'+i">{{item.name}} <span>{{item.description}}</span></h5>
            <li *ngFor="let items of item.foods">
              <div class="food-desc-wrapper">
                <div class="food-img">
                  <img [src]="getImgPath(items.image_path)+'?w=80&h=80'" />
                </div>
                <div class="food-description">
                  <h4>{{items.name}}</h4>
                  <p>月售{{items.month_sales}}份 好评率{{items.satisfy_rate}}%</p>
                  <div class="buy-wrapper">
                    <div class="price">{{items.specfoods[0].price}}元</div>
                    <div class="add-to-cart-wrapper"><add-to-cart [food]="items"></add-to-cart></div>
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </div>
      </div>
      <div class="rating" *ngSwitchCase="'rating'" [scrollLoad]="loadMoreComments">
        <div class="rating-detail">
          <div class="score">
            <h2>{{sellerDetail.rating}}</h2>
            <p>综合评价</p>
            <p>高于周边商家73.5%</p>
          </div>
          <div class="ratings-wrapper">
            <h4>服务态度</h4>
            <div><rating [rating]="sellerDetail.rating"></rating></div>
            <h4>送达时间:{{sellerDetail.order_lead_time}}分钟</h4>
          </div>
        </div>
        <div class="user-ratings">
          <div class="tags" *ngIf="tags">
            <span class="tag" [class.unsatisfied]="tag.unsatisfied" *ngFor="let tag of tags" (click)="tagName=tag.name; getRating();">
              {{tag.name}} ({{tag.count}})
            </span>
          </div>
          <div class="comments">
            <ul>
              <li class="comment" *ngFor="let comment of ratings">
                <div class="user">
                  <div class="user-avatar">
                    <img *ngIf="comment.avatar" [src]="getImgPath(comment.avatar)" />
                    <span *ngIf="!comment.avatar" class="iconfont">&#xe6b8;</span>
                  </div>
                  <div class="user-profile">
                    <p class="username">{{comment.username}}</p>
                    <div class="rating-wrapper"><rating [rating]="comment.rating_star"></rating></div>
                  </div>
                  <p class="comment-time">{{comment.rated_at}}</p>
                </div>
                <div class="comments-text" *ngIf="comment.rating_text">{{comment.rating_text}}</div>
                <div class="comments-item">
                  <ul>
                    <li class="item" *ngFor="let item of comment.item_ratings">
                      <div class="item-img" *ngIf="item.image_hash"><img [src]="getImgPath(item.image_hash)+'?w=80&h=80'" /></div>
                      <p class="item-name">{{item.food_name}}</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopping-cart-wrapper" *ngIf="sellerDetail">
    <div class="shopping-cart">
      <div class="cart" (click)="cartDetail.show=!cartDetail.show">
        <div class="icon iconfont" [style.background]="cost>0?'#3190e8':'#3d3d3f'">&#xe63f;</div>
        <span class="cart-count" *ngIf="count>0">{{count}}</span>
      </div>
      <div class="money">
        <div class="cost" *ngIf="cost>0">
          ￥{{cost}}
        </div>
        <div class="fee">
          还需配送费￥{{sellerDetail?sellerDetail.float_delivery_fee:0}}
        </div>
      </div>
      <div class="pay-button" [class.allow-pay]="cost>0">
        {{sellerDetail?payButtonText(sellerDetail):'马上下单'}}
      </div>
      <div class="cart-detail" [class.cart-detail-show]="cartDetail.show&&cost>0" #cartDetail>
        <div class="title-bar">
          <h3 class="iconfont">&#xe63f; 购物车</h3>
          <div class="clear-cart iconfont" (click)="clearCart()">&#xe69d; 清空</div>
        </div>
        <div class="cart-content">
          <ul>
            <li class="cart-item" *ngFor="let food of shoppingCart">
              <h3 class="food-name">{{food.name}}</h3>
              <h3 class="food-price">￥{{food.specfoods[0].price}}</h3>
              <div class="add-to-cart-wrapper">
                <add-to-cart [food]="food"></add-to-cart>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<loading *ngIf="!sellerDetail" [@fadeOut]></loading>

